
////////////////
//            //
//   HEADER   //
//            //
////////////////

header {
  width: 100%;
  text-align: center;
  background: $landgreen;
  color: white;
  padding: $padding 0;
  h1 {
    margin: 0;
    margin-bottom: 5px;
    -webkit-transition: font-size 0.5s ease;
       -moz-transition: font-size 0.5s ease;
        -ms-transition: font-size 0.5s ease;
         -o-transition: font-size 0.5s ease;
            transition: font-size 0.5s ease;
    @include breakpoint(stageFive) {
      font-size: 55px;
    }
    @include breakpoint(stageSix) {
      font-size: 42px;
    }
  }
  h2 {
    margin: 0;
    letter-spacing: 3.1px;
    color: white;
    -webkit-transition: font-size 0.5s ease;
       -moz-transition: font-size 0.5s ease;
        -ms-transition: font-size 0.5s ease;
         -o-transition: font-size 0.5s ease;
            transition: font-size 0.5s ease;
    @include breakpoint(stageFive) {
      font-size: 20px;
    }
    @include breakpoint(stageSix) {
      font-size: 20px;
      letter-spacing: 2.1px;
    }
  }
}

a[href^=tel] {
  text-decoration: none;
  color: white;
}
