
//////////////////
//              //
//   SECTIONS   //
//              //
//////////////////

div.pagesize {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-transition: width 1s ease;
     -moz-transition: width 1s ease;
      -ms-transition: width 1s ease;
       -o-transition: width 1s ease;
          transition: width 1s ease;
  @include breakpoint(stageTwo) {
    width: 90%;
  }
  @include breakpoint(stageFour) {
    width: 100%;
  }
}

.aboutus {
  padding: $padding;
  p, h3 {
    @include breakpoint(stageSix) {
      padding: 0;
    }
  }
  .grid-1-3 {
      text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    @include breakpoint(stageSix) {
      margin-bottom: 20px;
      max-width: 60%;
      height: auto;
    }
  }
}

.employees {
  padding: $padding;
  background-color: $lightblue;
  p {
    padding: 0 $padding 0 0;
  }
  img {
    width: 100%;
    height: auto;
    border: 5px solid white;
    box-shadow: 3px 3px 0px rgba(black, 0.25);
  }
}

.services {
  padding: $padding;
}

.examples {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: -8px;
  margin-right: -8px;
  
  > * {
    flex: 1;
    margin: 0 8px;

    > img {
      width: 100%;
      border: 5px solid #d9e9f2;
      box-shadow: 3px 3px 0px #b3d3e5;
      height: auto;
    }
  }
}

.examples_3up {
  @include breakpoint(stageSix) {
    flex-direction: column;

    > * {
      margin-bottom: 10px;
    }
  }
}

.listedservices {
  background-color: #f3f3f3;
  background-size: 60%;
  padding: $padding;
  width: 100%;
  @include breakpoint(stageSix){
    background-size: 100%;
  }
}

.service-list {
  float: left;
  width: 33.3%;
  
  ul {
    padding-left: 25px;
  }
  li {
    font-size: .8em;
  }
  @include breakat("930px") {
    width: 50%;
  }
  @include breakat("600px") {
    width: 100%;
  }
}

div.two-column {
  clear: both;
  display: none;
  @include breakat("930px") {
    display: block;
  }
  @include breakat("600px") {
    display: none;
  }
}

div.three-column {
  clear: both;
  @include breakat("930px") {
    display: none;
  }
}

.referals {
  background-color: $lightblue;
  padding: $padding;
  
  .restrictions {
    // width: 80%;
    // margin: 0 auto;
    background: rgba(white, 0.25);
    padding: 0 $padding;
    border: 5px solid rgba(white, 0.5);
    font-size: .8em;
  }
}

.contactus {
  padding: $padding;
  table {
    margin: $padding auto 0;
    width: 80%;
    @include breakpoint(stageSix) {
      width: 100%;
    }
    .label {
      width: 25%;
      text-align: right;
      padding-right: $padding/2;
      @include breakpoint(stageSix){
        display:none;
      }
    }
  }
  .submit {
    text-align: right;
  }
  input[type="submit"] {
    background: $landgreen;
    color: white;
    border-radius: 0;
    // border: 5px solid darken($landgreen, 5%);
    border: none;
    padding: $padding/2 $padding;
    box-shadow: 3px 3px 0px darken($landgreen, 10%);
  }
  a[href^=tel],
  a[href^=mailto] {
    color: black;
    text-decoration: none;
  }

}

.split {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  margin-right: -8px;

  @include breakpoint(stageFive) {
    display: block;
  }
}

.split-item {
  flex: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.split-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: space-between;

  > *:first-child {
    flex: 1;
    margin-bottom: 20px;
  }
}

.callout {
  background-color: #f3f3f3;
  padding: 20px;
}
