
///////////////////////////
//                       //
//   IMPORTS ONLY HERE   //
//                       //
///////////////////////////

/* @import "compass/css3"; */
@import "normalize";
@import "toolbox";
@import "bits";
@import "typography";
@import "grid";

body {
  @include font-stack-standard;
  background: #FFF;
}

#wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}


@import "sections";
@import "header";
@import "navigation";
@import "main";
@import "button";
@import "footer";
